.main-content {
    height: 1000px;
    display: grid;
    grid-template-columns: 300px 700px;
    width: 90%;
}
.left-section {
    grid-column: span 1;
    background-color: PaleTurquoise;
}
.right-section {
    grid-column: span 1/ span 2;
    background-color: LightPink;    
}
.left-content    {
    padding: 1rem;
}
.profile-image   {
    display: block;
    margin: auto;
    border: 5px white solid;
    border-radius: 30%;
    width: 60%;
}
.name   {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.8rem;
    letter-spacing: 0.02px;
}
.designation    {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.description    {
    text-align: center;
    font-size: 0.75rem;
    padding: 1rem;
}
.icon{
    display: inline;
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}
.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem 1rem 0.5rem;
}
.skill-name {
    font-size: 0.65rem;
    font-weight: 600;
    text-align: left;
    padding-bottom: 0.5rem;
}
.progress-bar   {
    border: 1px white solid;
    height: 4px;
    background-color: white;
}
.right-main-content {
    padding: 32px 48px 32px 48px;
}
.right-title    {
    text-transform:uppercase;
    font-weight:700;
    font-size:1.2rem;
    letter-spacing:1px;
    padding: 0.5rem;
}
@media (max-width: 673px)   {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}